$base-margin: 15px;
$small-margin: $base-margin/2;

$primary-color: #fff;
$brand-color: #1976d2;
$primary-text-color: rgba(0, 0, 0, .9);
$brand-text-color: #fff;
$shadow-color: rgba(0, 0, 0, .5);
$active-color: rgba(0, 0, 0, .1);
$invalid-color: #d32f2f;
